    <div class="form-group">
        <label for="video-game-title">Title</label>
        <input type="text" class="form-control" name="videoGame[title]"
            placeholder="Please enter a title of a video game" required>
    </div>
    <div class="form-group">
        <label for="video-game-description">Description</label>
        <input type="text" class="form-control" name="videoGame[description]"
            placeholder="Please enter a description of your video game">
    </div>
    <div class="form-group">
        <label for="video-game-studio">Studio</label>
        <input type="text" class="form-control" name="videoGame[studio]"
            placeholder="Please enter the studio of the video game">
    </div>
    <div class="form-group">
        <label for="video-game-poster">Poster</label>
        <input type="text" class="form-control" name="videoGame[poster]"
            placeholder="Please enter a URL of an image of the video game">
    </div>
    <div class="form-group">
        <label for="video-game-platform"></label>
        <select placeholder="Platform" name="videoGame[platform]" required>
            <option disabled hidden selected value=''>Platform</option>
            <option value='xbox'>Xbox</option>
            <option value='ps4'>Playstation 4</option>
            <option value='pc'>PC Computer</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create listing!</button>