.video-game-details {
    margin: auto;
    padding: 0px !important;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: transparent;
    width: 100%;
    max-height: 70vh;
    // position: relative;
    border-radius: 12px !important;
    // overflow: hidden;
    // box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1) !important;
}
.detail-title-bar{
    height: 40px;
}
.detail-title-bar img{
    position: absolute;
    background: transparent;
    height: 30px;
    width: auto;
    right: 25px;
    top: 5px;
}

.video-game-details-card:hover {
    // width: 100%;
    background-position: 0px !important;
}
.detail-img {
    // position: relative;
    display: block;
    min-height: 15%;
    max-height: 20%;
    width: auto;
    z-index: 1;
    // object-fit: fill;
}
.detail-rating{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}
.detail-rating img{
    width: 8%;
    height: auto;
}

.detail-info h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
}
.detail-info h6 {
    // margin-top: 5px;
    // margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    // letter-spacing: 2px;
    // font-weight: 200;
    font-family: "Roboto Slab", serif;
}

.detail-info p {
	width: 280px;
	font-size: 13px;
	line-height: 1.4;
	color: #aaa;
	margin: 20px 0;
	
}