.video-game-details {
    margin: auto;
    padding: 0px !important;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: transparent;
    width: 100%;
    max-height: 70vh;
    border-radius: 12px !important;
}
.detail-title-bar {
    height: 40px;
}
.detail-title-bar img {
    position: absolute;
    background: transparent;
    height: 30px;
    width: auto;
    right: 25px;
    top: 5px;
}
.card-img-top{
    width: 100%;
    height: 25vw;
    object-fit: contain;
    z-index: 1;
}

.video:hover {
    background-position: 0px !important;
}
.detail-rating {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}
.detail-rating img {
    width: 8%;
    height: auto;
}

.detail-info h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
    word-wrap: break-word;
    color: var(--bb-color-rat-race-gold);
}
.detail-info h6 {
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
}

.detail-info p {
    width: 280px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 13px;
    line-height: 1.4;
    color: var(--bb-color-ink-medium);
    // margin: 20px 0;
}
.detail-owner {
    float: right;
    .game-owner-name {
        font-family: "Roboto Slab", serif;
        color: var(--bb-color-rat-race-gold);
        margin-right: 10px;
    }
}

#borrow-video-game {
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
}