@import './variables.scss'; 

.video-game-display {
    justify-self: center;
}

.card-like {
    width: 18px;
}
.card-img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}
.card-img-hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.card {
    margin: 20px;
    padding: 0px !important;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: white;
    position: relative;
    border-radius: 12px !important;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1) !important;
}
.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1, 1.1);
}

.card-info {
    z-index: 2;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card-category {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: var(--bb-color-ink-solid-grey);
}

.card-title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
}

.card-by {
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.card-platform {
    font-weight: 600;
    text-decoration: none;
    color: var(--bb-color-rat-race-gold);
}

.card:hover .card-img-hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card-info {
    background-color: transparent;
    position: relative;
}

.card:hover .card-info-hover {
    opacity: 1;
}

.available {
    color: var(--bb-color-good);
    display: block;
    background: black;
    border-radius: 50%;
    border: 1px var(--bb-color-ink-solid-grey);
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
    background: radial-gradient(circle at 10px 10px, var(--bb-color-good), black);
}
.not-available {
    color: var(--bb-color-danger);
    display: block;
    background: black;
    border-radius: 50%;
    border: 1px var(--bb-color-ink-solid-grey);
    height: 1rem;
    width: 1rem;
    margin: 0;
    background: radial-gradient(circle at 10px 10px, var(--bb-color-danger), black);
}