@import './variables.scss';
input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: $input-width;
  height: $input-height;
  background-color: $input-bg-static;
  border-radius: $input-radius;
  outline: none; // bad accessibility
  transition: background 450ms ease;
  box-shadow: 0 0 0 3px darken($input-bg-static, 7.5%);
  
  &:before, &:after {
    position: absolute;
    display: block;
    content: "";
    border-radius: 100%;
    transition:
      background 450ms ease,
      transform 450ms ease;
  }
  
  &:before {
    width: calc( #{$input-width} / 2 );
    height: $input-height;
    background-color: $input-bg-pseudo-static;
  }
  
  // active state
  &:checked {
    
    &:before {
      background-color: $input-bg-pseudo-active;
      transform: translateX(100%);
    }
  }
}